<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74b285">  <td>20/01/31 18:19:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.checkLogin()[pri:0, instance:com.testng.framework.testscripts.LoginPageTest@46d56d67]">checkLogin</td> 
  <td>main@1225439493</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>20/01/31 18:19:21</td>   <td>4768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.quit()[pri:0, instance:com.testng.framework.testscripts.LoginPageTest@46d56d67]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1225439493</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>20/01/31 18:19:01</td>   <td>-15290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup()[pri:0, instance:com.testng.framework.testscripts.LoginPageTest@46d56d67]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1225439493</td>   <td></td> </tr>
</table>
